In [10]:
import pandas as pd
import requests
from io import StringIO

In [11]:
url = 'https://en.wikipedia.org/wiki/List_of_brightest_stars'
headers = {'User-Agent': 'Mozilla/5.0'}

In [12]:
response = requests.get(url, headers=headers)
html_data = StringIO(response.text)
website_data = pd.read_html(html_data)

In [14]:
print(f"Total tables found: {len(website_data)}")
df = website_data[1] # second table
print(df.head())

Total tables found: 7
                 0
0  Wolfâ€“Rayet star
1      O-type star
2      B-type star
3      A-type star
4      F-type star